* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.wrapper {
  width: 98%;
  display: table;
  margin: 0 auto; }

body {
  font-family: 'montserrat', 'Alte Haas Grotesk', helvetica, 'coolvetica', arial, sans-serif;
  font-weight: 700;
  background: url("../images/bg-swirl.png");
  min-width: 1033px; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 32px;
  margin: 30px 0 8px 0;
  text-align: left; }

h3 {
  font-size: 28px;
  text-align: left; }

h4 {
  font-size: 24px;
  text-align: left; }

h2.event-month-header {
  font-size: 32px;
  margin: 45px 0 0 0;
  text-align: left; }

a {
  color: #777;
  text-decoration: none; }

nav {
  padding: 10px;
  margin: 0 auto;
  width: 80%; }
  nav a {
    font-size: 32px;
    margin-right: 30px;
    -webkit-transition: color 350ms ease-in-out 0s;
            transition: color 350ms ease-in-out 0s; }
  nav a:hover {
    color: black; }

.nav-top {
  padding: 20px 0; }
  .nav-top a {
    display: inline-block;
    width: 45px;
    height: 45px; }

.nav-main {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black; }

.mailing-list {
  font-size: 18px;
  color: white;
  float: right;
  padding: 9px 20px;
  border-radius: 40px;
  background-color: #00ACFF; }
  .mailing-list input[type="submit"],
  .mailing-list input[type="EMAIL"] {
    font-size: 18px;
    height: 2rem;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
    -webkit-transition: width 0.4s ease-out;
    -moz-transition: width 0.4s ease-out;
    -ms-transition: width 0.4s ease-out;
    -o-transition: width 0.4s ease-out; }
  .mailing-list input[type="EMAIL"] {
    width: 200px; }
  .mailing-list input[type="EMAIL"]:focus {
    width: 300px; }
  .mailing-list .clear {
    display: inline; }

.fb {
  background: url("../images/social-fb.png") no-repeat; }

.tw {
  background: url("../images/social-tw.png") no-repeat; }

.yt {
  background: url("../images/social-yt.png") no-repeat; }

.fb-events {
  width: 30%;
  margin-left: 20%; }

header .logo {
  width: 60%;
  display: block;
  margin: 20px auto; }

.rail-tmp {
  margin: 0 auto;
  display: block;
  z-index: -100;
  -webkit-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
          transform: translateY(-40px); }

.post-wrapper, .latest {
  text-align: center;
  width: 80%;
  clear: both;
  margin: 0 auto; }
  @media (max-width: 420px) {
    .post-wrapper, .latest {
      width: 100%;
      font-size: 120%; } }

.rail {
  margin-bottom: 60px; }
  .rail .rail-m-tilted {
    -webkit-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
            transform: rotate(2deg); }
  .rail .rail-l-tilted {
    -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
            transform: rotate(-10deg); }
  .rail .rail-r-tilted {
    -webkit-transform: rotate(14deg);
        -ms-transform: rotate(14deg);
            transform: rotate(14deg); }
  .rail.centered {
    display: inline-block;
    vertical-align: middle; }
  .rail > img {
    margin: 0 20px; }

.flyer img {
  max-width: 100%; }

.event-box {
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 15px; }
  .event-box img {
    max-width: 100%; }
  .event-box p {
    font-size: 16px;
    text-align: left;
    font-weight: 300; }

.quotebox {
  border: 15px solid black;
  margin: 60px 0 5px 0; }

.share-page {
  float: right; }

.share-page a {
  padding-right: 10px; }

.event-desc {
  margin: 0 auto 40px auto;
  font-size: 20px;
  width: 80%; }
  .event-desc p {
    text-align: justify;
    margin: 2rem 0;
    line-height: 1.2em; }
  .event-desc a:hover {
    border-bottom: 3px solid slategray; }
  .event-desc span.right {
    float: right; }
  @media (max-width: 320px) {
    .event-desc {
      width: 95%; } }

.btn-buy-ticket a {
  display: block;
  margin: 30px auto 30px auto;
  width: 45%;
  border-radius: 40px;
  padding: 20px;
  background: #3c1;
  color: white;
  -webkit-transition: color 350ms ease-in-out 0s;
          transition: color 350ms ease-in-out 0s;
  font-size: 32px;
  white-space: no-wrap; }
  @media (max-width: 320px) {
    .btn-buy-ticket a {
      width: 60%;
      font-size: 165%; } }

.btn-buy-ticket a:hover {
  border: none;
  color: black; }

hr {
  margin: 20px auto;
  width: 80%; }

.past-shows-box tr td a {
  font-weight: bold; }

.past-shows-box tr:hover a {
  color: black; }

footer {
  display: table;
  background: #212121;
  color: white;
  margin-top: 60px;
  padding: 0 60px 60px 60px; }
  footer .footer-meta {
    float: left;
    margin-top: 60px;
    color: #555;
    line-height: 1.1em;
    border-right: 2px dotted #888; }
    footer .footer-meta .media__img {
      margin-right: 60px; }
    footer .footer-meta .media__body p {
      margin-left: 10px; }
  footer .partners {
    width: 60%;
    margin-top: 60px;
    float: right; }
    footer .partners a {
      float: left;
      margin-left: 60px; }
    footer .partners img {
      border-radius: 16px; }
      @media (max-width: 1230px) {
        footer .partners img {
          width: 65%;
          margin-bottom: 25px;
          border-radius: 0; } }

.grid {
  margin: 0 0 20px 0; }
  .grid:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both; }

[class*='col-'] {
  float: left;
  padding-right: 20px; }
  .grid [class*='col-']:last-of-type {
    padding-right: 0; }

.col-2-3 {
  width: 66.66%; }

.col-1-3 {
  width: 33.33%; }

.col-1-2 {
  width: 50%; }

.col-1-4 {
  width: 25%; }

.col-1-8 {
  width: 12.5%; }

.module {
  padding: 20px;
  background: #eee;
  -webkit-transition: background 350ms ease-in-out 0s;
          transition: background 350ms ease-in-out 0s; }

.module:hover {
  background: #bbb; }

/* Opt-in outside padding */
.grid-pad {
  padding: 20px 0 20px 20px; }
  .grid-pad [class*='col-']:last-of-type {
    padding-right: 20px; }

.cells {
  background: green; }
