---
layout: default
---

<section class="latest">
    {% for post in site.posts %}

    <div class="flyer">
        <img src="{{ post.image-url }}" />
        <br />
        <br />
        <a class="btn-buy-ticket" href="{{ post.ticket-url }}">Order tickets here!</a>
    </div>

    <div class="quotebox">
        <div class="event-desc half">

            {{ post.content }}

            {% if post.youtube-video %}
            <iframe width="560" height="315" src="{{ post.youtube-video }}" frameborder="0" allowfullscreen></iframe>
            {% endif %}
        </div>
    </div><!-- .quotebox END -->


    {% endfor %}

    <div style="clear: both;"></div>


    <br />
    <br />

    <div class="past-shows-box" style="text-align: left;">
        <h2 style="margin-bottom: 8px;">Past &amp; present shows:</h2>
        <table>
            {% for post in site.posts reversed %}
            <tr>
                <td><a href="{{ post.url }}">{{ post.date | date: "%Y-%m-%d" }}</a></td>
                <td>&nbsp;/&nbsp;</td>
                <td><a href="{{ post.fb-url }}">{{ post.show-title }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>


</section>

</div><!-- .wrapper END -->


{% include footer.html %}


