---
layout: default
---

<section class="latest">
    <div class="grid">


    {% for post in site.posts | limit: 8 %}

        {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
        {% capture range %}{{ nowunix | plus: 2629743}}{% endcapture %}
        {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
        {% if posttime < range %}


            {% capture currentmonth %}{{post.date | date: "%m"}}{% endcapture %}
            {% if currentmonth != month %}

            <div style="clear:both;"></div>
            <h2 class="event-month-header">{{ post.date | date: "%B %Y"}}</h2>

            {% capture month %}{{currentmonth}}{% endcapture %}
            {% endif %}
            <div class="col-1-2">
                <div class="event-box module month_{{ month }}">
                    <a href="{{site.baseurl}}{{post.url}}">

                {% if post.availability == "soldout" %}
                    <span class="availability front-page">Sold out</span>
                {%endif%}
                {% if post.availability == "cancelled" %}
                    <span class="availability front-page">Cancelled</span>
                {%endif%}

                        <img src="{{ post.image-url }}" />
                        <p>{{ post.date | date_to_long_string }}</p>
                        <p>{{ post.event-title }}</p>
                    </a>
                </div>
            </div>

        {%endif%}

    {% endfor %}

    </div>

    {% include past-shows-box.html %}
</section>



</div><!-- .wrapper END -->


{% include footer.html %}