<p>Since 2012 English Comedy Brussels is the town’s #1 for English speaking stand-up comedy as well as being one of the best clubs in Europe.</p>
<p>&nbsp;</p>
<p>The English Comedy Nights take place every other Tuesday at The Black Sheep, just next to place Flagey.  There you'll discover some of the finest acts of the British and International comedy circuit, many of them having performed in shows such as Live At The Apollo or the Russell Howard's Good News.  All of them are regulars at the Edimburgh Fringe and other prestigious international festivals.</p>
<p>&nbsp;</p>
<p>The setting of the English Comedy Nights is in the typical comedy club style, with an international audience and a friendly atmosphere.  In addition to the best humour, you will also be able to enjoy the bar's excellent cuisine and a wide variety of beers and gin & tonics.</p>
<p>&nbsp;</p>
<p>Our events are a must in Brussels, we have the best acts, the best staff, and the best crowd, YOU!</p>