</div><!-- .wrapper END -->

<footer style="width: 100%;">

    <div class="footer-meta">
        <div class="media">
            <img class="media__img" src="images/ECB-bubbly-14-relief.png" alt="" />
        </div>
        <div class="media__body">
            <p>English Comedy Brussels</p>
            <p>email: englishcomedybrussels@gmail.com</p>
        </div>
    </div>

<!--
             <div class="sponsors footer-bg-light" >
                <img src="images/partners-01.jpg" alt="" />
                <img src="images/partners-02.jpg" alt="" />
                <img src="images/partners-03.jpg" alt="" />
            </div>
        -->
        <div class="partners">
            <a href="http://internationalcomedians.com/"><img src="images/partners-04.jpg" alt="International Comedians" /></a>
            <a href="http://radiox.eu/"><img src="images/logo_radiox-04.jpg" alt="Radio X" /></a>
        </div>
    </footer>
</body>
</html>