<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="mailing-list">

    <form action="http://facebook.us7.list-manage2.com/subscribe/post?u=fff22a483490b42028e367fcf&amp;id=a2e07866c1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

        <label for="mce-EMAIL"></label>

        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="join our mailing list! type your mail." required>

        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

        <div style="position: absolute; left: -5000px;"><input type="text" name="b_fff22a483490b42028e367fcf_a2e07866c1" value=""></div>

        <div class="clear"><input type="submit" value="Go!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>

    </form>
</div>
<!--End mc_embed_signup-->

<!-- TODO: continue to style the mailchimp form -->
