@import "_variables";

 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.wrapper {
    width: 98%;
    display: table;
    margin: 0 auto;
    // background: green;
}
body {
    font-family: 'montserrat', 'Alte Haas Grotesk', helvetica, 'coolvetica', arial, sans-serif;
    font-weight: 700;
    background: url('../images/bg-swirl.png');
    min-width: 1033px;
}
h1 { font-size: 36px; }
h2 { font-size: 32px; margin: 30px 0 8px 0; text-align: left;}
h3 { font-size: 28px; text-align: left; }
h4 { font-size: 24px; text-align: left; }

h2.event-month-header {
    font-size: 32px;
    margin: 45px 0 0 0;
    text-align: left;
}

a {
    color: #777;
    text-decoration: none;
}
nav {
    padding: 10px;
    margin: 0 auto;
    width: 80%;
    a {
        font-size: 32px;
        margin-right: 30px;
        transition: color 350ms ease-in-out 0s;
    }
    a:hover {
        color: black;
    }
}

.nav-top {
    padding: 20px 0;
    a {
        display: inline-block;
        width: 45px;
        height: 45px;
    }
}
.nav-main {
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
}
// TODO:
// fixa saa att .mailing-list formen aer alignad med sociala ikonerna. check layout. something is pushing it down a bit.
.mailing-list {
    font-size: 18px;
    color: white;
    float: right;
    padding: 9px 20px;
    border-radius: 40px;
    // background-color: #83af00;
    background-color: #00ACFF;
    input[type="submit"],
    input[type="EMAIL"] {
        font-size: 18px;
        height: 2rem;
        padding-left: 5px;
        border-radius: 5px;
        border: none;
        -webkit-transition: width .4s ease-out;
        -moz-transition: width .4s ease-out;
        -ms-transition: width .4s ease-out;
        -o-transition: width .4s ease-out;
    }
    input[type="EMAIL"] {
        width: 200px;
    }
    input[type="EMAIL"]:focus {
        width: 300px;
    }
    .clear {
        display: inline;

    }
}

.fb { background: url("../images/social-fb.png") no-repeat; }
.tw { background: url("../images/social-tw.png") no-repeat; }
.yt { background: url("../images/social-yt.png") no-repeat; }

.fb-events {
    width: 30%;
    margin-left: 20%;
}

header .logo {
    width: 60%;
    display: block;
    margin: 20px auto;
    // float: right;
}

.rail-tmp {
    margin: 0 auto;
    display: block;
    z-index: -100;
    // transform: translateY(-80px);
    transform: translateY(-40px);
}

// these fixes the centering without width applied!
.post-wrapper, .latest {
    text-align: center;
    width: 80%;
    clear: both;
    margin: 0 auto;

    &:before {
        // content: '';
        // display: inline-block;
        // height: 100%;
        // vertical-align: middle;
    }
    @media (max-width: 420px) {
        width: 100%;
        font-size:120%;
    }
}

.rail {
    margin-bottom: 60px;
    .rail-m-tilted {
        transform: rotate(2deg);
    }
    .rail-l-tilted {
        transform: rotate(-10deg);
    }
    .rail-r-tilted {
        transform: rotate(14deg);
    }
    &.centered {
        display: inline-block;
        vertical-align: middle;
    }
    & > img {
        margin: 0 20px;
        // width: 200px;
    }
}

.flyer {
    // width: 40%;
    img { max-width: 100%; }
}

.event-box {
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 15px;
    position: relative;

    img { max-width: 100%; }
    p { font-size: 16px;
        text-align: left;
        font-weight: 300;}
}

.quotebox {
    // float: right;
    // width: 50%;
    border: 15px solid black;
    margin: 60px 0 5px 0;
}
.quotebox ul li {
    text-align: left important!;
    background: red;
}

.share-page {
    float: right;
}
.event-desc {
    // width: 40%;
    margin: 0 auto 40px auto;
    font-size: 20px;
    width: 80%;
    position: relative;
    p {
        text-align: justify;
        margin: 2rem 0;
        line-height: 1.2em;
    }
    a {
        // font-size: 70%;
        // float: left;
        // padding-bottom: 10px;
    }
    a:hover { border-bottom: 3px solid slategray; }
    span.right { float: right;}

    @media (max-width: 320px) {
        width: 95%;
    }
}
.btn-buy-ticket a {
    display: block;
    margin: 30px auto 30px auto;
    width: 45%;
    border-radius: 40px;
    padding: 20px;
    background: #3c1;
    color: white;
    transition: color 350ms ease-in-out 0s;
    font-size: 32px;
    white-space: no-wrap;

    @media (max-width: 320px) {
        width: 60%;
        font-size: 165%;
    }
}
.btn-buy-ticket a:hover {
    border: none;
    color: black;
}

hr {
    margin: 20px auto;
    width: 80%;
}

.past-shows-box tr td a {
    font-weight: bold
}

.past-shows-box tr:hover a {
    color: black;
}

footer {
    // sticky RWD footer
    display: table;
    background: $footer-bg-dark;
    color: white;
    // set margin-top adlib
    margin-top: 60px;
    padding: 0 60px 60px 60px;
    .footer-meta {
        // border:1px solid white;
        float: left;
        margin-top: 60px;
        color: #555;
        line-height: 1.1em;
        border-right: 2px dotted #888;
        // text-shadow: 1px 1px #444;
        .media__img {
            margin-right: 60px;
        }
        .media__body p {
            margin-left: 10px;
        }
        // TODO: add media query for meta to fall under image on small devices
    }
    .partners {
        width: 60%;
        margin-top: 60px;
        float: right;
        a {
            float: left;
            margin-left: 60px;
        }
        img {
            border-radius: 16px;
            @media (max-width: 1230px) {
                & {
                    width: 65%;
                    margin-bottom: 25px;
                    border-radius: 0;
                }
            }
        }
    }
}



// grid stuff for latest gigs

$pad: 20px;

.grid {
  margin: 0 0 $pad 0;

  &:after {
    /* Or @extend clearfix */
    content: '';
    display: table;
    clear: both;
  }
}

[class*='col-'] {
    float: left;
  padding-right: $pad;
  .grid &:last-of-type {
    padding-right: 0;
  }
}
.col-2-3 {
    width: 66.66%;
}
.col-1-3 {
    width: 33.33%;
}
.col-1-2 {
    width: 50%;
}
.col-1-4 {
    width: 25%;
}
.col-1-8 {
    width: 12.5%;
}

.module {
  padding: $pad;
  background: #eee;
  transition: background 350ms ease-in-out 0s;
}
.module:hover {
    background: #bbb;
}

/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}

.cells { background: green; }

.availability {
    color: red;
    background-color: white;
    border: 6px solid black;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 60px;
    position: absolute;
    right:0;
    top:0;
    z-index: 3;
    transform: rotate(30deg);
}
.availability.front-page {
    transform: scale(.75) rotate(30deg);
    right:-60px;
}


