/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 17, ../sass/screen.scss */
.wrapper {
  width: 98%;
  display: table;
  margin: 0 auto;
}

/* line 23, ../sass/screen.scss */
body {
  font-family: 'montserrat', 'Alte Haas Grotesk', helvetica, 'coolvetica', arial, sans-serif;
  font-weight: 700;
  background: url("../images/bg-swirl.png");
  min-width: 1033px;
}

/* line 29, ../sass/screen.scss */
a {
  color: #777;
  text-decoration: none;
}

/* line 33, ../sass/screen.scss */
nav {
  padding: 10px;
  margin: 0 auto;
  width: 80%;
}
/* line 37, ../sass/screen.scss */
nav a {
  font-size: 32px;
  margin-right: 30px;
  transition: color 350ms ease-in-out 0s;
}
/* line 42, ../sass/screen.scss */
nav a:hover {
  color: black;
}

/* line 47, ../sass/screen.scss */
.nav-top {
  padding: 20px 0;
}
/* line 49, ../sass/screen.scss */
.nav-top a {
  display: inline-block;
  width: 45px;
  height: 45px;
}

/* line 55, ../sass/screen.scss */
.nav-main {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}

/* line 61, ../sass/screen.scss */
.mailing-list {
  font-size: 18px;
  color: white;
  float: right;
  padding: 9px 20px;
  border-radius: 40px;
  background-color: #00ACFF;
}
/* line 70, ../sass/screen.scss */
.mailing-list input[type="submit"],
.mailing-list input[type="EMAIL"] {
  font-size: 18px;
  height: 2rem;
  padding-left: 5px;
  border-radius: 5px;
  border: none;
  -webkit-transition: width .4s ease-out;
  -moz-transition: width .4s ease-out;
  -ms-transition: width .4s ease-out;
  -o-transition: width .4s ease-out;
}
/* line 81, ../sass/screen.scss */
.mailing-list input[type="EMAIL"] {
  width: 200px;
}
/* line 84, ../sass/screen.scss */
.mailing-list input[type="EMAIL"]:focus {
  width: 300px;
}
/* line 87, ../sass/screen.scss */
.mailing-list .clear {
  display: inline;
}

/* line 93, ../sass/screen.scss */
.fb {
  background: url("../images/social-fb.png") no-repeat;
}

/* line 94, ../sass/screen.scss */
.tw {
  background: url("../images/social-tw.png") no-repeat;
}

/* line 95, ../sass/screen.scss */
.yt {
  background: url("../images/social-yt.png") no-repeat;
}

/* line 97, ../sass/screen.scss */
.fb-events {
  width: 30%;
  margin-left: 20%;
}

/* line 102, ../sass/screen.scss */
header .logo {
  width: 60%;
  display: block;
  margin: 20px auto;
}

/* line 109, ../sass/screen.scss */
.rail-tmp {
  margin: 0 auto;
  display: block;
  z-index: -100;
  transform: translateY(-40px);
}

/* line 118, ../sass/screen.scss */
.latest {
  text-align: center;
  width: 80%;
  clear: both;
  margin: 0 auto;
}
/* line 124, ../sass/screen.scss */
.latest:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 132, ../sass/screen.scss */
.rail {
  margin-bottom: 60px;
}
/* line 134, ../sass/screen.scss */
.rail .rail-m-tilted {
  transform: rotate(2deg);
}
/* line 137, ../sass/screen.scss */
.rail .rail-l-tilted {
  transform: rotate(-10deg);
}
/* line 140, ../sass/screen.scss */
.rail .rail-r-tilted {
  transform: rotate(14deg);
}
/* line 143, ../sass/screen.scss */
.rail.centered {
  display: inline-block;
  vertical-align: middle;
}
/* line 147, ../sass/screen.scss */
.rail > img {
  margin: 0 20px;
}

/* line 153, ../sass/screen.scss */
.flyer {
  float: left;
  width: 50%;
}
/* line 156, ../sass/screen.scss */
.flyer img {
  max-width: 100%;
}

/* line 158, ../sass/screen.scss */
.quotebox {
  float: right;
  width: 40%;
  border: 15px solid black;
  margin: 60px 0 50px 0;
}

/* line 164, ../sass/screen.scss */
.event-desc {
  margin: 0 auto 40px auto;
  font-size: 28px;
}
/* line 168, ../sass/screen.scss */
.event-desc p {
  text-align: justify;
  margin: 10px 0;
  line-height: 1.2em;
}
/* line 178, ../sass/screen.scss */
.event-desc a:hover {
  border-bottom: 3px solid slategray;
}
/* line 179, ../sass/screen.scss */
.event-desc.half {
  width: 70%;
}
/* line 180, ../sass/screen.scss */
.event-desc.paras p {
  font-size: 16px;
}
/* line 181, ../sass/screen.scss */
.event-desc span.right {
  float: right;
}

/* line 183, ../sass/screen.scss */
.btn-buy-ticket {
  display: block;
  margin: 15px auto 30px auto;
  width: 80%;
  border-radius: 40px;
  padding: 20px;
  background: #3c1;
  color: white;
  transition: color 350ms ease-in-out 0s;
  font-size: 32px;
  white-space: no-wrap;
}

/* line 195, ../sass/screen.scss */
.btn-buy-ticket:hover {
  border: none;
  color: black;
}

/* line 200, ../sass/screen.scss */
hr {
  margin: 20px auto;
  width: 80%;
}

/* line 205, ../sass/screen.scss */
footer {
  display: table;
  background: #212121;
  color: white;
  margin-top: 60px;
  padding: 0 60px 60px 60px;
}
/* line 213, ../sass/screen.scss */
footer .footer-meta {
  float: left;
  margin-top: 60px;
  color: #555;
  line-height: 1.1em;
  border-right: 2px dotted #888;
}
/* line 221, ../sass/screen.scss */
footer .footer-meta .media__img {
  margin-right: 60px;
}
/* line 224, ../sass/screen.scss */
footer .footer-meta .media__body p {
  margin-left: 10px;
}
/* line 229, ../sass/screen.scss */
footer .partners {
  width: 60%;
  margin-top: 60px;
  float: right;
}
/* line 233, ../sass/screen.scss */
footer .partners a {
  float: left;
  margin-left: 60px;
}
/* line 237, ../sass/screen.scss */
footer .partners img {
  border-radius: 16px;
}
@media (max-width: 1230px) {
  /* line 240, ../sass/screen.scss */
  footer .partners img {
    width: 65%;
    margin-bottom: 25px;
    border-radius: 0;
  }
}
