---
layout: default
---

<section class="post-wrapper">

    <div class="flyer">
        <a href="{{ page.fb-url }}" target="_blank">
            <img src="{{ page.image-url }}" />
        </a>
    </div>

    <div class="quotebox">
        <div class="event-desc half">
        {% if page.availability == "soldout" %}
            <span class="availability">Sold out</span>
        {%endif%}
        {% if page.availability == "cancelled" %}
            <span class="availability">Cancelled</span>
        {%endif%}
        <h2 style="border-bottom: 1px solid black;">{{ page.date | date: "%-d %B %Y" }}</h2>

        <h2 style="margin-top: -5px;">{{ page.event-title }}</h2>

            {{ content }}

            {% if page.youtube-video %}
            <iframe width="560" height="315" src="{{ page.youtube-video }}" frameborder="0" allowfullscreen></iframe>
            {% endif %}
        </div>
        <div class="btn-buy-ticket"><a href="{{ page.ticket-url }}" target="_blank">Order tickets here!</a></div>
    </div><!-- .quotebox END -->

{% include share-block.html %}

<!-- not needed for posts, since post has only single items and in one column -->
<!--     <div style="clear: both;"></div> -->

    <br />

    {% include past-shows-box.html %}


</section>
<div style="clear: both;"></div>
</div><!-- .wrapper END -->

{% include footer.html %}